{% case section.settings.feature_block_id %}
  {% when 'fb9ad722-2ac9-43ec-9882-9e69315d7edd' %}
  <div class="kaching-icon-block" data-block-id="fb9ad722-2ac9-43ec-9882-9e69315d7edd"></div>
{% endcase %}
{% schema %}
  {
    "name": "Icon block",
    "settings": [
      {
        "type": "select",
        "id": "feature_block_id",
        "label": "Icon block",
        "options": [{"value":"","label":"None"},{"value":"fb9ad722-2ac9-43ec-9882-9e69315d7edd","label":"Check Icon Box"}]
      }
    ],
    "presets": [
      {
        "name": "Guarantees & Features Icons",
        "category": "Image"
      }
    ]
  }
{% endschema %}
