<link rel="stylesheet" href="{{ 'not-found-category.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="category_container">
  <h2>Anik Ji
  </h2>
</div>
{% schema %}
  {
    "name": "Categories",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "category": "content",
        "name": "Category Image"
      }
    ]
  }
{% endschema %}}